/* style.css */
/* Link this file in your index.html with:
    <link rel="stylesheet" href="styles.css">
*/

/* Add your CSS styles below */
body {
  font-family: serif;
  color: black;
}
#parent{
  position: relative;
  margin: auto;
  background-color: blue;
  width: 300px;
  height: 300px;
}

#child1{
  top: 20%;
  position: absolute;
  background-color: red;
  width: 300px;
  height: 20px;
}

#child2{
  left: 20%;
  position: absolute;
  background-color: red;
  width: 20px;
  height: 300px;
}
