/* style.css */
/* Link this file in your index.html with:
    <link rel="stylesheet" href="style.css">
*/

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  box-sizing: border-box;
  color: #a4acba;
}

h1 {
  font-size: 2.5rem;
  margin: 10px;
  color: black;
}

h2 {
  font-size: 2rem;
  margin: 10px;
  color: black;
}
h3 {
  font-size: 1.5rem;
  margin: 10px;
  color: black;
}
p {
  font-family: 1rem;
  line-height: 1.6;
  margin: 10px 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav,
main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 60px;
  justify-items: center;
}

nav > ul > li > a {
  color: #68788e;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav > ul > li.name > a {
  color: #6994f1;
  font-weight: bold;
}

nav > ul > li:first-child {
  margin-right: auto;
}

.main-container {
  position: relative;
  justify-content: center;
  align-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 4rem 0;
  flex-wrap: wrap;
}

.first-row {
  background-image: linear-gradient(45deg, #f7f9fb, #e7ecf2);
  box-shadow: 0px -2px 3px 0px rgba(200, 203, 207, 0.5);
}

.col {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.center-col {
  justify-content: center;
  align-items: center;
  justify-items: center;
}

button {
  background-color: #2363eb;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  margin: 10px 0px;
  width: fit-content;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #044eed;
}

.dot {
  height: 189px;
  width: 189px;
  background-color: #e2e8f0;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-row,
.fourth-row {
  background-color: white;
}

.sub-row {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 10px;
  width: 50%;
  background-color: #e9ecef;
  border-radius: 4px;
  overflow: hidden;
  margin: 0.5rem 0;
}

.progress-fill {
  height: 100%;
  background-color: #6d97f2;
  border-radius: 4px;
  transition: width 0.3s ease;
}

.third-row,
.fourth-row {
  display: flex;
  flex-direction: column;
}

.third-row {
  background-color: #f8fafc;
}

.third-row > h2 {
  text-align: center;
}

.sub-container {
  margin: 30px;
  border-radius: 10px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.sub-row-projects:last-child {
  margin-right: 50px;
}

.sub-row-projects:first-child {
  margin-left: 50px;
}

.sub-row-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.img-placeholder {
  background-color: #e2e8f0;
  width: 100%;
  aspect-ratio: 1.85/1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-col > h4 {
  font-weight: bold;
  color: black;
}

.projects-col {
  padding: 2px;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.orange-button {
  background-color: #f59e0b;
}

.orange-button:hover {
  background-color: #ad6e02;
}

.fourth-row > h2 {
  text-align: center;
}

.col > label {
  margin: 10px 0px;
  color: black;
}

input {
  height: 29px;
}

input,
textarea {
  border: 1px solid #e8edf2;
  border-radius: 5px;
  margin: 5px 0px;
}

.field {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.field > img,
h5 {
  margin: 5px;
}

img {
  width: 10px;
}

.col > h3 {
  color: black;
}

.sub-row-links {
  display: flex;
}

.rounded {
  border-radius: 50%;
  margin: 10px;
}

footer {
  background-color: #1f293b;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px;
}

/* Mobile First (col-*) */
.col-sm-1 {
  width: 8.33%;
}
.col-sm-1-center {
  width: 8.33%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-2 {
  width: 16.66%;
}
.col-sm-2-center {
  width: 16.66%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-3-center {
  width: 25%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-4 {
  width: 33.33%;
}
.col-sm-4-center {
  width: 33.33%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-5 {
  width: 41.66%;
}

.col-sm-4-center {
  width: 41.66%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-6-center {
  width: 50%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-7 {
  width: 58.33%;
}
.col-sm-7-center {
  width: 58.33%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-8 {
  width: 66.66%;
}
.col-sm-8-center {
  width: 66.66%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-9-center {
  width: 75%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-10 {
  width: 83.33%;
}
.col-sm-10-center {
  width: 83.33%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-11 {
  width: 91.66%;
}
.col-sm-11-center {
  width: 91.66%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-12-center {
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}


/* Desktop 901px */
@media screen and (min-width: 901px) {


  .col-lg-1 {
    width: 8.33%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
  .col-lg-2 {
    width: 16.66%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
  .col-lg-3 {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

   .col-lg-3-space {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: space-between;
  }

  .col-lg-3-center {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .col-lg-4 {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
  .col-lg-5 {
    width: 41.66%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }

  .col-lg-5-center {
    width: 41.66%;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .col-lg-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
  .col-lg-7 {
    width: 58.33%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
  .col-lg-8 {
    width: 66.66%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
  .col-lg-9 {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
  .col-lg-10 {
    width: 83.33%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
  .col-lg-11 {
    width: 91.66%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
  .col-lg-12 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }
}
