/* style.css */
/* Link this file in your index.html with:
    <link rel="stylesheet" href="style.css">
*/

/* Add your CSS styles below */

* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  color: black;
  margin: 0;
}

main {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  border: solid 2px #ef8180;
}

.col {
  border: solid 2px #ef8180;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* align content at the bottom */
  height: 500px; /* explicitly define the height */
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}

.line {
  height: 15px;
  width: 70%;
  background-color: #ef8180;
  margin: 2px;
}

.short {
  width: 30%;
  margin-right: 40%; 
}

.text {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
  line-height: 1.5;
  width: 80%;
  align-items: center;
}
