/* style.css */
/* Link this file in your index.html with:
    <link rel="stylesheet" href="style.css">
*/

/* Add your CSS styles below */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.first-hello {
  color: rgba(250, 235, 215, 0.8);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.second-hello {
  color: #e91e63;
  font-size: 32px;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.third-hello {
  color: #6495ed;
  font-size: 26px;
  text-align: center;
  font-family:Cinzel, serif;
  font-weight: bold;

}