/* style.css */
/* Link this file in your index.html with:
    <link rel="stylesheet" href="style.css">
*/
body {
  margin: 0;
  padding: 0;
  font-family:serif;
  margin: 2%;
}

button{
  background-color: rgb(211, 160, 102);
  font-size: 24px;
  text-align: center;
  color: blue;
  font-family: serif;
  border: 0;
  }
